<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="d9a555dd-9486-45cf-ae5e-6eea66eb2007" Version="1.0.0.0" Publisher="CN=sbu" />
  <mp:PhoneIdentity PhoneProductId="d9a555dd-9486-45cf-ae5e-6eea66eb2007" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>JustUpload</DisplayName>
    <PublisherDisplayName>sbu</PublisherDisplayName>
    <Logo>images\imgur50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <uap:VisualElements DisplayName="Upload To Imgur" Description="Just upload to Imgur and copy the direct link." BackgroundColor="transparent" Square150x150Logo="images\imgur150.png" Square44x44Logo="images\imgur44.png">
        <uap:LockScreen Notification="badge" BadgeLogo="images\imgur24.png" />
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images/imgur310.png" Square71x71Logo="images\imgur71.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\imgurtext620.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="upload_to_imgur">
            <uap:EditFlags AlwaysUnsafe="true" />
            <uap:SupportedFileTypes>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Upload To Imgur">
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>Bitmap</uap:DataFormat>
            <uap:DataFormat>HTML</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>